<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Indigo SMS Test Suite">
            <directory>tests/Indigo/Sms</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Indigo/Sms</directory>
        </whitelist>
    </filter>
</phpunit>